@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is a list of Courses</h1>    
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Course ID</th>
      <th scope="col">Course Name</th>
      <th scope="col">Rating</th>      
    </tr>
  </thead>
   <tbody>
    
        @foreach(var course in Model.Courses)
                {
                    <tr>
                    <th scope="row">@course.CourseID</th>
                    <td>@course.CourseName</td>
                    <td>@course.Rating</td>
                    </tr>
                }                
    
    </tbody>
  </table>
</div>
